<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="{% url 'main' %}" class="nav-link px-2 text-secondary">Главная</a>
            </li>
            <div class="dropdown">
                <a class="nav-link px-2 text-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Анкеты соискателей
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'employees_search' %}">Поиск</a></li>
                    {% if user.employee %}
                    <li><a class="dropdown-item" href="{% url 'employee_add' %}">Редактировать</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'employee_add' %}">Разместить</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="dropdown">
                <a class="nav-link px-2 text-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Анкеты работодателей
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'jobs_search' %}">Поиск</a></li>
                    {% if user.job_set.all %}
                    <li><a class="dropdown-item" href="{% url 'jobs_by_user' %}">Редактировать</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'job_add' %}">Разместить</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="nav-link px-2 text-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Статьи
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'all_news' %}">Читать</a></li>
                    <li><a class="dropdown-item" href="{% url 'news_add' %}">Разместить</a></li>
                </ul>
            </div>

          <li><a href="#" class="nav-link px-2 text-secondary">Контакты</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
        </ul>

        <div class="text-end">

            {% if user.is_authenticated %}
            <div class="dropdown">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.userpic.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" style="">
                <li><a class="dropdown-item" href="{% url 'my_profile'%}">Мой профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'employee_add'%}">Моя анкета</a></li>
                <li><a class="dropdown-item" href="{% url 'jobs_by_user' %}">Мои вакансии</a></li>
                <li><a class="dropdown-item" href="{% url 'news_by_author' %}">Мои статьи</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout/?next={{ request.path }}">Выйти</a></li>
              </ul>
            </div>
            {% else %}
            <a class="btn btn-outline-secondary" href="/login/?next={{ request.path }}" role="button">Войти</a>
            {% endif %}
        </div>
      </div>
    </div>
</header>